.drag-area-file {
  border: 2px dashed rgba(128, 128, 128, 1);
  border-radius: 14px;
  padding: 0.75rem 0px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 0.75rem /* 12px */;
}

.drag-area-file.dragover {
  background-color: rgb(247, 239, 239);
}

.drag-area-file-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drag-area-file label:hover {
  background-color: rgba(0, 114, 200, 1);
  color: white;
}